# Database URL
DATABASE_URL="postgresql://user:password@localhost:5432/sigap?schema=public"

# Google Gemini API Key
# Dapatkan di https://aistudio.google.com/apikey
GEMINI_API_KEY=your_gemini_api_key_here

# SIMPUS Telkom API Credentials
BASE_URL="https://simpus.banyumaskab.go.id/api_telkom/v1"
CLIENT_ID="your_simpus_client_id_here"
CLIENT_SECRET="your_simpus_client_secret_here"
